/* This CSS rule targets the paragraph with the class 'positioned-paragraph' */
.aboutmeparagraph {
    position: absolute;    /* Use absolute positioning */
    top: 180px;            /* Set distance from the top of the page */
    left: 600px;            /* Set distance from the left of the page */
    width:500px;          /* Set the width of the paragraph */
    height: 150px;         /* Set the height of the paragraph */
    font-size: 16px;       /* Set font size */
   /* background-color: lightblue; */ /* Background color */
   /* padding: 20px;       */  /* Add some padding inside the paragraph */
   /* border-radius: 10px;  */ /* Optional: Rounded corners */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #3d3d29;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
}

section h2 {
    color: #333;
    position: absolute;    /* Use absolute positioning */
    left: 600px;            /* Set distance from the left of the page */
}

footer {
    background: none;
    color: #222211;
    text-align: center;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-family:  'sans-serif';
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
